.container {
  background: var(--grey-90);
  border: 1px var(--grey-30) solid;
  margin-bottom: var(--token-24);
  border-radius: var(--token-20);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  font-size: var(--font-size-tiny);
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px var(--grey-80) solid;
  padding: var(--token-12);
}

.method {
  padding: var(--token-04) var(--token-08);
  border-radius: var(--token-24);
  border: 1px var(--grey-70) solid;
  margin-right: var(--token-12);
  line-height: 1;
  color: var(--grey-40);
  background: var(--grey-90);
  font-weight: 500;
}

.url {
  line-height: 1;
  color: var(--grey-00);
}

.payload {
  padding: var(--token-24);
  line-height: 1.4;
}

.payload pre {
  position: relative;
  font-size: var(--font-size-tiny);
  color: var(--grey-20);
  line-height: 1.4;
  color: var(--grey-00);
}
