.button {
  padding: var(--token-12) var(--token-16);
  background: var(--primary);
  color: var(--grey-00);
  border: none;
  border-radius: var(--token-24);
  display: block;
  font-size: var(--font-size-small);
  font-weight: 500;
  transition: opacity 0.2s;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button:disabled {
  background: var(--grey-30);
}
