.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--token-32) 0;
}

.logoContainer {
  width: var(--token-128);
  height: var(--token-128);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--token-32);
}

.starterKitBanner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: rotate 32s linear infinite;
}

.navigation {
  position: sticky;
  top: 0;
  display: flex;
  padding: var(--token-08);
  border: 1px var(--grey-30) solid;
  border-radius: var(--token-64);
  box-shadow: var(--box-shadow);
}

.navigationItem {
  position: relative;
  padding: var(--token-08) var(--token-16);
  border-radius: var(--token-32);
  font-size: var(--font-size-small);
  font-weight: 500;
  cursor: pointer;
  transition: color 0.15s;
  border: none;
  background: transparent;
  user-select: none;
}

.indicator {
  position: absolute;
  background: var(--primary);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
