.container {
  position: relative;
}

.buttonOverlay {
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  border-radius: var(--token-16);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  border: 1px var(--grey-30) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--token-32);
  border-radius: var(--token-16);
  box-shadow: var(--box-shadow);
  margin-bottom: var(--token-16);
}
