.content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: var(--token-64);
}

@media (max-width: 600px) {
  .content {
    grid-template-columns: 1fr;
  }
}

.inputsWrapper {
  position: relative;
  width: calc(100% + var(--token-64));
  padding: var(--token-12) var(--token-32) 0 var(--token-32);
  margin-left: calc(var(--token-64) / -2);
  margin-top: var(--token-16);
  margin-bottom: var(--token-16);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23babcd2' fill-opacity='0.5' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.inputsWrapper iframe {
  width: 100%;
}

.inputsWrapper::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background: var(--grey-30);
  left: calc(-1 * var(--token-32));
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputsWrapper::after {
  content: 'Inputs';
  position: absolute;
  font-size: var(--font-size-medium);
  background: var(--grey-00);
  left: calc(-1 * var(--token-32) - var(--token-12));
  padding: var(--token-08) 0;
  top: 50%;
  writing-mode: vertical-rl;
  transform: rotate(180deg) translateY(50%);
  font-weight: 500;
}

.submit {
  margin-left: auto;
  margin-top: var(--token-16);
}
